asgiref=3.7.2
backports.zoneinfo=0.2.1
Django=4.2.5
django-phonenumber-field=7.1.0
django-sendsms=0.5
djangorestframework=3.14.0
phonenumbers=8.13.22
pip=23.2.1
pyotp=2.9.0
pytz=2023.3.post1
setuptools=56.0.0
sqlparse=0.4.4
typing_extensions=4.8.0
